html{
    height: 100%;
    background-color: #e6e9e9;
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
}
body {
  margin:20px;
  background-color:hsl(305, 21%, 79%) ;
  padding: 2em 2em 4em;
  max-width: 800px;
  min-height:100%;

}

section {
  background-color: #21a12e;
}

.banner > h1 {
  margin: 0px;
  color: rgb(179, 0, 255) ;
}

.banner {
  background-color: rgb(231, 9, 95);
}

.banner,
section {
  padding: 10px;
}

ol,
.validators {
  padding: 30px;
  line-height: 30px;
  margin-top: 0px;
}
.validators {
  text-align: left;
  position: static;
  bottom: 0px;
}
